@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*text-decoration: none;*/
    list-style-type: none;
    outline: none;
}

body{
    margin-left: 80px;
    margin-top: 80px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

input {
    all: unset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:-internal-autofill-selected {
    background-color: none !important;
}

.container {
    width: 1366px;
    height: 100px;
    margin: 0 auto;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.menu__side{
    width: 360px;
    background: #FFFFFF;
    position: relative;
    color: black;
    font-size: 18px;
    transition: 500ms;
    height: 461px;
    border-radius: 5px;
    margin-left: 4%;
}

.page__wrap{
    padding: 20px 20px;
    align-items: center;
    width: 360px;
}

.page__name {
    display: flex;
    background: #F9F9FA;
    width: 320px;
    height: 60px;
    border-radius: 5px;
    align-items: center;
}

.page__name .profile h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1C294D;
}
    
.page__name .profile h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(28, 41, 77, 0.5);
}

.options__menu{
    padding: 15px 20px 0 20px;
    position: absolute;
    top: 80px;
    color: black;
}

.options__menu a {
    width: 310px;
    cursor: default;
    display: block;
    position: relative;
    transition: 300ms;
    border-top: 1px solid rgba(42, 61, 72, 0.15);;
}

.options__menu a:hover{
    color: #FC6E1D;
}

.options__menu .option{
    color: black;
    padding: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option p{
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: #1C294D;
    font-style: normal;
}

.options__menu .option p:hover {
    color: #FC6E1D;
    font-weight: 500;
    cursor: pointer;
}

.options__menu .option p:hover::before {
    content: '';
    width: 5px;
    height: 100%;
    background: #FC6E1D;
    position: absolute;
    top: 0.1%;
    left: -20px;
    border-radius: 5px;
}

.img__wrap {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    margin-left: 11px;
    margin-right: 10px;
}

.img {
    width: 21px;
    height: 21px;
    margin: 10px;
}

.form__wrap {
    width: 750px;
    background-color: white;
    border-radius: 5px;
    margin-right: 4%;
}

.form__container {
    width: 660px;
    margin: 45px auto 0 auto;
}

.form__container p {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #1C294D;
}

.form__header {
    display: flex;
    align-items: center;
    background: #F9F9FA;
    width: 660px;
    margin-top: 19px;
    height: 50px;
    border-radius: 5px;
}

.form__header li {
    padding: 11px 15px;
}
.form__header li a{
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #55646D; 
}
.form__header li:first-child {
    margin-left: 3px;
}
.form__header li:hover{
    background-color: white;
    transition: .2s;
    border-radius: 5px;
}
.form__header li:hover a{
    font-weight: 500;
    color: #1C294D;
    transition: .2s;
}

/* /////////////////////////////////////////   разделение форм   ///////////////////////////////////////////////////// */

.form-fields {
    width: 420px;
    margin-left: 45px;
}

.form-field {
    display: flex;
    width: 420px;
    margin-top: 5px;
    border: 1px solid #DFE2E4;
    border-radius: 5px;
}

.form-field-input {
    width: 370px;
    height: 50px;
    border-radius: 5px;
    margin-left: 15px;
}
/*/////////////////       сокрытие галочек в инпут      ///////////////////////*/

.form-btn__check {
    visibility: hidden;
}


.form-field__wrap.success .form-btn__check {
    visibility: visible;
    /*color: red;*/
}

.form-phone__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-phone__container {
    border: none;
}

.form-phone {
    display: flex;
    border: 1px solid #DFE2E4;
    border-radius: 5px;
    width: 190px;
}

.form-phone-input {
    width: 140px; 
    height: 50px;
    margin-left: 14px;
}

.form-field__label {
    /* margin-top: 15px; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #959EA4;
}

.form-btn__check {
    margin-top: 17px;
}
/*///////////////////    there is checking img     ///////////////////////*/
.form-field__wrap {
    /*visibility: hidden;*/
    border: none;
    background: none;
    margin-top: 15px;
}

.form-field__wrap small {
    visibility: hidden;
}

.form-field__wrap.error small {
    visibility: visible;
    color: red;
}

.form-phone__wrap.error small {
    visibility: visible;
    color: red;
}

/*////////////////////////////////////*/

.form-data__wrap {
    margin-top: 15px;
}

.form-data__container {
    display: flex;
}
.data-day {
    flex: 3;
    /* width: 120px; */
}
.data-month {
    flex: 4;
    /* width: 160px; */
}
.data-year {
    flex: 3;
    /* width: 120px; */
}

.wrap-data {
    margin-left: 10px;
    height: 50px;
    border-radius: 5px;
    /*background: #FFFFFF;*/
    border: 1px solid #DFE2E4;
    outline: none;
    padding: 15px 50px 15px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    /*background-repeat: no-repeat;*/
}
.wrap-data:first-child {
    margin-left: 0;
}

/* ///////////////////////////////// gender styles /////////////////////// */

.gender__container {
    display: flex;
}

.gender-btn {
    width: 130px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DFE2E4;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
}
.gender-btn p{
    margin-top: 13px;
    margin-left: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1C294D;
}

.gender-btn:last-child {
    margin-right: 0;
}

.gender-img {
    position: absolute;
    display: none;
    margin-left: 13px;
    top: 17px;
    right: -30px;
}
.gender-btn:hover img {
    display: block;
    right: 15px;
}

.gender-btn:hover {
    border: 1px solid #FF7A00;
    cursor: pointer;
}
.gender-btn:hover p {
    font-weight: 500;
    color: #FF7A00;
    margin-left: 21px;  
    cursor: pointer;
}

.main-btn {
    width: 270px;
    height: 50px;
    background: #FF7A00;
    border: 5px solid #FF7A00;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    margin-bottom: 45px;
    cursor: pointer;
}

.main-btn input[type="submit"]{
    width: 270px;
    height: 50px;
    background: #FF7A00;
    border: 5px solid #FF7A00;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    margin-bottom: 45px;
    cursor: pointer;
    font-size: 14px;
}

/* ////////////////////// тут формы для пола ///////////////////////////// */


input[type="radio"]:checked+label  {
    color: #FF7A00 !important;
    border: 1px solid #FF7A00;
    display: block; 
}

input[type="radio"]:checked+label .gender-img {
    display: block; 
    right: 15px;
    transition: 0.2s;
}

input[type="radio"]:checked+label p {
    color: #FF7A00 !important;
    margin-left: 21px;
    font-weight: 500;
    transition: 0.2s;
}
/* //////////////////////// класс валидатора ///////////////////////////// */

.just-validate-error-label {
    color: red !important;
    font-size: 14px !important;
    margin-top: 18px !important;
    margin-right: 5px !important;
}